@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@1,300&family=Dancing+Script&family=Dosis:wght@300&family=Indie+Flower&family=Lobster&family=Merienda+One&family=Neonderthaw&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
font-size: 100%;
background: linear-gradient(68.15deg, #aeb5f8 16.62%, #1a74c8 85.61%);

}